@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Roboto&display=swap");

/* || Variable || */

:root {
  --BACKGROUND-COLOR-BODY: #667eea;
  --BACKGROUND-COLOR-BODY-LINEAR-GRADIENT: #667eea, #764ba2;
  --BACKGROUND-COLOR-HEADER: #fff;
  --BACKGROUND-COLOR-FOOTER: #fff;
  --BACKGROUND-COLOR-BOOK-CONTAINER: #fff;
  --BACKGROUND-COLOR-BUTTON: #4f46e5;
  --BACKGROUND-COLOR-BUTTON-HOVER: #000;
  --COLOR-BUTTON: #fff;
  --COLOR-SOCIAL: #000;
  --COLOR-SOCIAL-HOVER: #58606bf0;
  --COLOR-BOX-SHADOW: #000;
  --COLOR-AUTHER: #ff4500;
  --COLOR-QUOTATION-MARK: #ff4500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style Body */

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: var(--BACKGROUND-COLOR-BODY);
  background: linear-gradient(
      to bottom right,
      var(--BACKGROUND-COLOR-BODY-LINEAR-GRADIENT)
    )
    no-repeat center center;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/* Style Header */

header {
  padding: 0.5rem 0;
  background-color: var(--BACKGROUND-COLOR-HEADER);
  box-shadow: 0 1px 2px var(--COLOR-BOX-SHADOW);
  text-align: center;
  white-space: nowrap;
}

/* Style Main */

main {
  background-color: Var(--BACKGROUND-COLOR-BOOK-CONTAINER);
  box-shadow: 0 1px 2px var(--COLOR-BOX-SHADOW);
  height: 22rem;
  width: 19rem;
  padding: 1.5rem 1.5rem;
  margin: auto;
  border-radius: 10px;
  transition-duration: 1s;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

main:hover {
  transition-duration: 1s;
  border-radius: 0;
  box-shadow: none;
}

.book-container {
  text-align: center;
  height: 15rem;
  width: 16rem;
}

.paragraph {
  font-size: 1.2rem;
  height: 75%;
  padding-top: 2.4rem;
}

.quotation-mark {
  color: var(--COLOR-QUOTATION-MARK);
}

.auther-content {
  text-align: right;
  text-transform: uppercase;
  color: var(--COLOR-AUTHER);
  letter-spacing: 2px;
  display: none;
  padding: 3px 0;
}

.btn {
  display: flex;
  justify-content: space-between;
}

#fiction-btn,
#non-fiction-btn {
  height: 2.5rem;
  width: 6rem;
  border: none;
  transition-duration: 1s;
  font-size: 0.9rem;
  color: var(--COLOR-BUTTON);
  background-color: Var(--BACKGROUND-COLOR-BUTTON);
}

#fiction-btn {
  margin: 0.5rem 0.5rem 0.5rem 0;
}

#non-fiction-btn {
  margin: 0.5rem 0 0.5rem 0.5rem;
}

#fiction-btn:hover,
#non-fiction-btn:hover {
  background-color: var(--BACKGROUND-COLOR-BUTTON-HOVER);
  transition-duration: 1s;
  border-radius: 20px 0 20px 0;
}

/* Style Footer */

footer {
  background-color: var(--BACKGROUND-COLOR-FOOTER);
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.copyright {
  opacity: 0.7;
}

.social-link {
  font-size: 1.5rem;
  display: flex;
  gap: 1rem;
}

.social {
  color: var(--COLOR-SOCIAL);
}

.social:hover {
  color: var(--COLOR-SOCIAL-HOVER);
}

/* || Responsive Design || */

/* 2xl */

@media screen and (max-width: 1536px) {
  header {
    font-size: 1.1vw;
  }
}

/* xl */

@media screen and (max-width: 1280px) {
  header {
    font-size: 1.3vw;
  }
}

/* lg */

@media screen and (max-width: 1024px) {
  header {
    font-size: 1.5vw;
  }
}

/* md */

@media screen and (max-width: 768px) {
  header {
    font-size: 2vw;
  }

  #fiction-btn:hover,
  #non-fiction-btn:hover {
    border-radius: 0;
  }

  main:hover {
    border-radius: 10px;
    box-shadow: 0 1px 2px var(--COLOR-BOX-SHADOW);
  }
}

/* sm */

@media screen and (max-width: 640px) {
  header {
    font-size: 1.8vmax;
  }
}

/* Mobile Landscape */

@media screen and (max-height: 430px) and (min-aspect-ratio: 7/4) {
  body {
    height: 150vh;
  }

  #fiction-btn:hover,
  #non-fiction-btn:hover {
    border-radius: 0;
  }

  main:hover {
    border-radius: 10px;
    box-shadow: 0 1px 2px var(--COLOR-BOX-SHADOW);
  }

  footer {
    height: 4rem;
  }
}
